**/bin
**/obj
**/.vs
**/.vscode
**/.idea
**/*.user
**/*.suo
**/.git
**/.gitignore
**/README.md
**/LICENSE
**/.env
**/.env.*
!**/.env.example
**/coverage*
**/*.coverage
**/*.trx
**/TestResults
**/*.db
**/*.db-shm
**/*.db-wal
**/.traes
